<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>nick_name</string>
		<key>title</key>
		<string>昵称</string>
		<key>edit</key>
		<true/>
		<key>input</key>
		<true/>
		<key>keyboardType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>key</key>
		<string>user_name</string>
		<key>title</key>
		<string>用户名</string>
		<key>edit</key>
		<false/>
		<key>input</key>
		<false/>
		<key>keyboardType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>key</key>
		<string>mobile</string>
		<key>title</key>
		<string>手机</string>
		<key>edit</key>
		<false/>
		<key>input</key>
		<false/>
		<key>keyboardType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>key</key>
		<string>sex</string>
		<key>title</key>
		<string>性别</string>
		<key>edit</key>
		<true/>
		<key>input</key>
		<false/>
		<key>keyboardType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>key</key>
		<string>region</string>
		<key>title</key>
		<string>所在地</string>
		<key>edit</key>
		<true/>
		<key>input</key>
		<false/>
		<key>keyboardType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>key</key>
		<string>email</string>
		<key>title</key>
		<string>邮箱</string>
		<key>edit</key>
		<false/>
		<key>input</key>
		<false/>
		<key>keyboardType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>key</key>
		<string>measurement_price</string>
		<key>title</key>
		<string>量房费</string>
		<key>edit</key>
		<true/>
		<key>input</key>
		<true/>
		<key>keyboardType</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>key</key>
		<string>design_price</string>
		<key>title</key>
		<string>设计费</string>
		<key>edit</key>
		<true/>
		<key>input</key>
		<false/>
		<key>keyboardType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
