<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>type</key>
			<string>textfield</string>
			<key>message</key>
			<string></string>
			<key>kbType</key>
			<string>normal</string>
			<key>title</key>
			<string>客户姓名：</string>
			<key>placeholder</key>
			<string>请输入姓名</string>
			<key>unit</key>
			<string></string>
			<key>showLine</key>
			<true/>
			<key>height</key>
			<real>50</real>
			<key>key</key>
			<string>ownerName</string>
		</dict>
		<dict>
			<key>type</key>
			<string>textfield</string>
			<key>message</key>
			<string></string>
			<key>kbType</key>
			<string>phone</string>
			<key>title</key>
			<string>联系电话：</string>
			<key>placeholder</key>
			<string>请输入手机号码</string>
			<key>unit</key>
			<string></string>
			<key>showLine</key>
			<false/>
			<key>height</key>
			<real>50</real>
			<key>key</key>
			<string>phoneNum</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>type</key>
			<string>button</string>
			<key>title</key>
			<string>房屋地址：</string>
			<key>placeholder</key>
			<string>请选择地址</string>
			<key>message</key>
			<string></string>
			<key>showLine</key>
			<true/>
			<key>height</key>
			<real>50</real>
			<key>key</key>
			<string>address</string>
		</dict>
		<dict>
			<key>type</key>
			<string>textfield</string>
			<key>message</key>
			<string></string>
			<key>kbType</key>
			<string>normal</string>
			<key>title</key>
			<string>小区名称：</string>
			<key>placeholder</key>
			<string>请输入小区名称</string>
			<key>unit</key>
			<string></string>
			<key>showLine</key>
			<true/>
			<key>height</key>
			<real>50</real>
			<key>key</key>
			<string>housingEstate</string>
		</dict>
		<dict>
			<key>type</key>
			<string>textfield</string>
			<key>message</key>
			<string></string>
			<key>kbType</key>
			<string>number</string>
			<key>title</key>
			<string>套内面积：</string>
			<key>placeholder</key>
			<string>请输入套内面积</string>
			<key>unit</key>
			<string>㎡</string>
			<key>showLine</key>
			<true/>
			<key>height</key>
			<real>50</real>
			<key>key</key>
			<string>roomArea</string>
		</dict>
		<dict>
			<key>type</key>
			<string>textfield</string>
			<key>message</key>
			<string></string>
			<key>kbType</key>
			<string>number</string>
			<key>title</key>
			<string>付款金额：</string>
			<key>placeholder</key>
			<string>请输入付款金额</string>
			<key>unit</key>
			<string>元</string>
			<key>showLine</key>
			<true/>
			<key>height</key>
			<real>50</real>
			<key>key</key>
			<string>projectAmount</string>
		</dict>
		<dict>
			<key>type</key>
			<string>textfield</string>
			<key>message</key>
			<string></string>
			<key>kbType</key>
			<string>english</string>
			<key>title</key>
			<string>客户编号：</string>
			<key>placeholder</key>
			<string>请输入客户编号</string>
			<key>unit</key>
			<string></string>
			<key>showLine</key>
			<true/>
			<key>height</key>
			<real>50</real>
			<key>key</key>
			<string>ownerNum</string>
		</dict>
		<dict>
			<key>type</key>
			<string>button</string>
			<key>title</key>
			<string>装饰公司：</string>
			<key>placeholder</key>
			<string>请选择装饰公司</string>
			<key>message</key>
			<string></string>
			<key>showLine</key>
			<false/>
			<key>height</key>
			<real>50</real>
			<key>key</key>
			<string>decorationCompany</string>
		</dict>
	</array>
</array>
</plist>
