<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>-1</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>NO_ERROR</string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>0</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>UNKNOWN_ERROR</string>
		<key>needRetry</key>
		<true/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>1</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>CONSUMER_KEY_DOES_NOT_EXIST</string>
		<key>needRetry</key>
		<true/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>2</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>MISSING_REQUIRED_API_PARAMETER</string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>3</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>UNAUTHORIZED_API_ACCESS</string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>4</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>REQUIRED_OAUTH_INFORMATION_MISSING</string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>5</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>ACCESS_TOKEN_MISSING</string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>6</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>OAUTH_REQUEST_EXPIRED</string>
		<key>needRetry</key>
		<true/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>7</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>API_NAME_IS_INVALID</string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>8</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>OAUTH_SIGNATURE_INVALID</string>
		<key>needRetry</key>
		<true/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>9</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>USERID_IS_REQUIRED</string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<true/>
	</dict>
	<key>10</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>USERID_IS_INVALID</string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<true/>
	</dict>
	<key>11</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>LOGIN_TYPE_IS_REQUIRED</string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>12</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>ACCESS_EMAIL_IS_REQUIRED</string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>13</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>ACCESS_PASSWORD_IS_REQUIRED</string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>14</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>ACCESS_SEESION_ID_IS_REQUIRED</string>
		<key>needRetry</key>
		<true/>
		<key>silentLogin</key>
		<true/>
	</dict>
	<key>15</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>TOKEN_IS_INVALID</string>
		<key>needRetry</key>
		<true/>
		<key>silentLogin</key>
		<true/>
	</dict>
	<key>16</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>login_error</string>
		<key>server_name</key>
		<string>LOGIN_FAILED</string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>17</key>
	<dict>
		<key>needRetry</key>
		<false/>
		<key>description</key>
		<string>registration failed</string>
		<key>localyzed_key</key>
		<string>register_error</string>
		<key>server_name</key>
		<string>REGISTER_FAILED</string>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>18</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>FACEBOOK_USER_AUTHENTICATION_FAILED</string>
		<key>needRetry</key>
		<true/>
		<key>silentLogin</key>
		<true/>
	</dict>
	<key>19</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>SESSION_IS_FAILED</string>
		<key>needRetry</key>
		<true/>
		<key>silentLogin</key>
		<true/>
	</dict>
	<key>20</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>EMAIL_ADDRESS_IS_FAILED</string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>21</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>EDIT_USER_ACCOUNT_FAILED</string>
		<key>needRetry</key>
		<true/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>22</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>REMOVE_USER_ACCOUNT_FAILED</string>
		<key>needRetry</key>
		<true/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>23</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>USER_HAS_BEEN_REGISTERED</string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>24</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>SNAPSHOTID_IS_REQUIRED</string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>25</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>IMAGEGALLERYID_IS_REQUIRED</string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>26</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>IMAGEDESIGN_IS_EMPTY</string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>27</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>IMAGEDESIGN_HAS_BEEN_PUBLISHED</string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>28</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>GETMETHOD_IS_NOT_ALLOWED</string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>29</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>USER_HAS_BEEN_PUBLISHED</string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>30</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>USER_PUBLISH_FAILED</string>
		<key>needRetry</key>
		<true/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>31</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>USER_NOT_PUBLISHED</string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>32</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>DESIGNSETID_IS_REQUIRED</string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>33</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>DESIGNSETID_IS_INVALID</string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>34</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>DESIGNSET_HAS_BEEN_PUBLISHED</string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>35</key>
	<dict>
		<key>needRetry</key>
		<false/>
		<key>description</key>
		<string>email already exists</string>
		<key>localyzed_key</key>
		<string>erh_register_email_exists_msg</string>
		<key>server_name</key>
		<string>EMAIL_ALREADY_EXISTS</string>
		<key>silentLogin</key>
		<true/>
	</dict>
	<key>123</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>EMAIL_ADDDRESS_INVALID</string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>124</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>DESIGN_NOT_FOUND</string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>125</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>GALLERY_ITEM_NOT_FOUND</string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>126</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>PROFESSIONAL_NOT_FOUND</string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>127</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>PRODUCT_NOT_FOUND</string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>128</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>LIKE_NOT_FOUND</string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>129</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>ARTICLE_NOT_FOUND</string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>130</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>DESIGN2D_NOT_FOUND</string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>131</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>CATEGORY_NOT_FOUND</string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>133</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string> PROJECT_NOT_FOUND</string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>134</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>ASSET_DOESNT_BELONG_TO_USER</string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>135</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>AMAZON_ERR</string>
		<key>needRetry</key>
		<true/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>136</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>OPERATION_NOT_ALLOWED_ON_THIS_STATUS</string>
		<key>needRetry</key>
		<true/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>137</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>ASSET_ALREADY_PUBLISHED</string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>138</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>GENERIC_ADA_ERROR</string>
		<key>needRetry</key>
		<true/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>139</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>REQUEST_NOT_ALLOWED_FROM_USER</string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>140</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>OPERATION_NOT_ALLOWED_ON_DELETED_ITEM</string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>141</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>WRONG_STATUS</string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>142</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>CONCURRENCY_ERROR</string>
		<key>needRetry</key>
		<true/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>143</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>GENERIC_HS_ERROR</string>
		<key>needRetry</key>
		<true/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>144</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>WRONG_TYPE_REQUESTED</string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>145</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>ADA_ID_DUPLICATE</string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>146</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>EMPTY_ADA_ID</string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>147</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>DUPLICATE_OPEN_ID</string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>148</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>DUPLICATE_OPEN_ID_TOKEN</string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>163</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>USER_HAS_ALLREADY_JOIND_HS</string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>164</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string>USER_HAS_ALLREADY_BEEN_INVITED</string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>902</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>erh_unknown_error_msg</string>
		<key>server_name</key>
		<string></string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>908</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>facebook_login_failed_msg</string>
		<key>server_name</key>
		<string></string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
	<key>911</key>
	<dict>
		<key>description</key>
		<string>no error, call successful</string>
		<key>localyzed_key</key>
		<string>twitter_no_account_defined</string>
		<key>server_name</key>
		<string></string>
		<key>needRetry</key>
		<false/>
		<key>silentLogin</key>
		<false/>
	</dict>
</dict>
</plist>
