<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>base_image_path</key>
	<string></string>
	<key>helppages_en</key>
	<dict>
		<key>new_design_help</key>
		<dict>
			<key>image</key>
			<string>iph5_new_design.png</string>
			<key>labels</key>
			<array/>
		</dict>
		<key>paint_line</key>
		<dict>
			<key>image</key>
			<string>iph5_help_paint_line.png</string>
			<key>labels</key>
			<array>
				<dict>
					<key>label</key>
					<string>help_paint_line_label1</string>
					<key>x</key>
					<string>10</string>
					<key>y</key>
					<string>18</string>
					<key>max_width</key>
					<integer>185</integer>
					<key>rows</key>
					<integer>4</integer>
					<key>fontSize</key>
					<integer>14</integer>
					<key>fontColor</key>
					<string>70</string>
					<key>isCentered</key>
					<true/>
				</dict>
			</array>
		</dict>
		<key>help_3danalysis</key>
		<dict>
			<key>image</key>
			<string>iph5_help_3d_analysis.png</string>
			<key>labels</key>
			<array>
				<dict>
					<key>label</key>
					<string>help_3danalysis_label1</string>
					<key>x</key>
					<string>20</string>
					<key>y</key>
					<string>5</string>
					<key>max_width</key>
					<integer>180</integer>
					<key>rows</key>
					<integer>4</integer>
					<key>fontSize</key>
					<integer>14</integer>
				</dict>
			</array>
		</dict>
		<key>help_scale</key>
		<dict>
			<key>image</key>
			<string>iph5_help_scale.png</string>
			<key>labels</key>
			<array>
				<dict>
					<key>label</key>
					<string>help_scale_label1</string>
					<key>x</key>
					<string>25</string>
					<key>y</key>
					<string>12</string>
					<key>max_width</key>
					<integer>170</integer>
					<key>rows</key>
					<integer>5</integer>
					<key>fontSize</key>
					<integer>14</integer>
				</dict>
			</array>
		</dict>
		<key>help_3item</key>
		<dict>
			<key>image</key>
			<string>iph5_help_3ditem.png</string>
			<key>labels</key>
			<array>
				<dict>
					<key>label</key>
					<string>help_note_label1</string>
					<key>x</key>
					<string>80</string>
					<key>y</key>
					<string>180</string>
					<key>max_width</key>
					<integer>370</integer>
					<key>rows</key>
					<integer>3</integer>
					<key>fontSize</key>
					<integer>12</integer>
					<key>fontColor</key>
					<string>200</string>
				</dict>
				<dict>
					<key>isCentered</key>
					<true/>
					<key>label</key>
					<string>help_note_label2</string>
					<key>x</key>
					<string>18</string>
					<key>y</key>
					<string>17</string>
					<key>max_width</key>
					<integer>142</integer>
					<key>rows</key>
					<integer>1</integer>
					<key>fontSize</key>
					<integer>12</integer>
					<key>fontColor</key>
					<string>0</string>
				</dict>
				<dict>
					<key>isCentered</key>
					<true/>
					<key>label</key>
					<string>help_note_label3</string>
					<key>x</key>
					<string>188</string>
					<key>y</key>
					<string>17</string>
					<key>max_width</key>
					<integer>142</integer>
					<key>rows</key>
					<integer>1</integer>
					<key>fontSize</key>
					<integer>12</integer>
					<key>fontColor</key>
					<string>0</string>
				</dict>
				<dict>
					<key>label</key>
					<string>help_note_label4</string>
					<key>x</key>
					<string>358</string>
					<key>y</key>
					<string>17</string>
					<key>max_width</key>
					<integer>142</integer>
					<key>rows</key>
					<integer>1</integer>
					<key>fontSize</key>
					<integer>12</integer>
					<key>fontColor</key>
					<string>0</string>
					<key>isCentered</key>
					<true/>
				</dict>
			</array>
		</dict>
		<key>help_lift</key>
		<dict>
			<key>labels</key>
			<array>
				<dict>
					<key>label</key>
					<string>help_note_label4</string>
					<key>x</key>
					<string>145</string>
					<key>y</key>
					<string>45</string>
					<key>max_width</key>
					<integer>180</integer>
					<key>rows</key>
					<integer>1</integer>
					<key>fontSize</key>
					<integer>12</integer>
					<key>fontColor</key>
					<string>0</string>
					<key>isCentered</key>
					<true/>
				</dict>
			</array>
			<key>image</key>
			<string>iph5_help_lift.png</string>
		</dict>
		<key>help_camera</key>
		<dict>
			<key>image</key>
			<string>iph5_help_camera.png</string>
			<key>labels</key>
			<array>
				<dict>
					<key>fontSize</key>
					<integer>14</integer>
					<key>label</key>
					<string>help_camera_label1</string>
					<key>x</key>
					<string>50</string>
					<key>y</key>
					<string>110</string>
					<key>max_width</key>
					<integer>225</integer>
					<key>rows</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>help_paint</key>
		<dict>
			<key>image</key>
			<string>iph5_help_paint.png</string>
			<key>labels</key>
			<array>
				<dict>
					<key>label</key>
					<string>help_note_label1</string>
					<key>x</key>
					<string>100</string>
					<key>y</key>
					<string>665</string>
					<key>max_width</key>
					<integer>750</integer>
					<key>rows</key>
					<integer>2</integer>
					<key>fontSize</key>
					<integer>16</integer>
					<key>fontColor</key>
					<string>200</string>
				</dict>
			</array>
		</dict>
		<key>remove_tip</key>
		<dict>
			<key>image</key>
			<string>remove_tip.png</string>
			<key>offset</key>
			<dict>
				<key>x</key>
				<integer>90</integer>
				<key>y</key>
				<integer>110</integer>
			</dict>
			<key>labels</key>
			<array>
				<dict>
					<key>label</key>
					<string>help_reomve_tip_label1</string>
					<key>x</key>
					<string>10</string>
					<key>y</key>
					<string>13</string>
					<key>max_width</key>
					<integer>280</integer>
					<key>rows</key>
					<integer>2</integer>
					<key>fontSize</key>
					<integer>13</integer>
					<key>fontColor</key>
					<string>70</string>
					<key>isCentered</key>
					<false/>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
