<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>base_image_path</key>
	<string></string>
	<key>helppages_en</key>
	<dict>
		<key>help_scale</key>
		<dict>
			<key>image</key>
			<string>help_scale.png</string>
			<key>labels</key>
			<array>
				<dict>
					<key>label</key>
					<string>help_scale_label1</string>
					<key>x</key>
					<string>350</string>
					<key>y</key>
					<string>160</string>
					<key>max_width</key>
					<integer>315</integer>
					<key>rows</key>
					<integer>6</integer>
					<key>fontSize</key>
					<integer>18</integer>
				</dict>
			</array>
		</dict>
		<key>help_3item</key>
		<dict>
			<key>image</key>
			<string>help_3ditem.png</string>
			<key>labels</key>
			<array>
				<dict>
					<key>label</key>
					<string>help_note_label1</string>
					<key>x</key>
					<string>100</string>
					<key>y</key>
					<string>710</string>
					<key>max_width</key>
					<integer>840</integer>
					<key>rows</key>
					<integer>2</integer>
					<key>fontSize</key>
					<integer>17</integer>
					<key>fontColor</key>
					<string>200</string>
				</dict>
				<dict>
					<key>isCentered</key>
					<true/>
					<key>label</key>
					<string>help_note_label2</string>
					<key>x</key>
					<string>60</string>
					<key>y</key>
					<string>205</string>
					<key>max_width</key>
					<integer>245</integer>
					<key>rows</key>
					<integer>1</integer>
					<key>fontSize</key>
					<integer>17</integer>
					<key>fontColor</key>
					<string>0</string>
				</dict>
				<dict>
					<key>isCentered</key>
					<true/>
					<key>label</key>
					<string>help_note_label3</string>
					<key>x</key>
					<string>385</string>
					<key>y</key>
					<string>205</string>
					<key>max_width</key>
					<integer>250</integer>
					<key>rows</key>
					<integer>1</integer>
					<key>fontSize</key>
					<integer>17</integer>
					<key>fontColor</key>
					<string>0</string>
				</dict>
				<dict>
					<key>label</key>
					<string>help_note_label4</string>
					<key>x</key>
					<string>715</string>
					<key>y</key>
					<string>205</string>
					<key>max_width</key>
					<integer>250</integer>
					<key>rows</key>
					<integer>1</integer>
					<key>fontSize</key>
					<integer>17</integer>
					<key>fontColor</key>
					<string>0</string>
					<key>isCentered</key>
					<true/>
				</dict>
			</array>
		</dict>
		<key>help_3danalysis</key>
		<dict>
			<key>image</key>
			<string>help_3danalysis.png</string>
			<key>labels</key>
			<array>
				<dict>
					<key>label</key>
					<string>help_3danalysis_label1</string>
					<key>x</key>
					<string>35</string>
					<key>y</key>
					<string>35</string>
					<key>max_width</key>
					<integer>190</integer>
					<key>rows</key>
					<integer>4</integer>
					<key>fontSize</key>
					<integer>16</integer>
				</dict>
			</array>
		</dict>
		<key>help_camera</key>
		<dict>
			<key>image</key>
			<string>help_camera.png</string>
			<key>labels</key>
			<array>
				<dict>
					<key>fontSize</key>
					<integer>14</integer>
					<key>label</key>
					<string>help_camera_label1</string>
					<key>x</key>
					<string>400</string>
					<key>y</key>
					<string>205</string>
					<key>max_width</key>
					<integer>250</integer>
					<key>rows</key>
					<integer>4</integer>
				</dict>
			</array>
		</dict>
		<key>help_paint</key>
		<dict>
			<key>image</key>
			<string>help_paint.png</string>
			<key>labels</key>
			<array>
				<dict>
					<key>label</key>
					<string>help_note_label1</string>
					<key>x</key>
					<string>100</string>
					<key>y</key>
					<string>665</string>
					<key>max_width</key>
					<integer>750</integer>
					<key>rows</key>
					<integer>2</integer>
					<key>fontSize</key>
					<integer>16</integer>
					<key>fontColor</key>
					<string>200</string>
				</dict>
			</array>
		</dict>
		<key>design_stream</key>
		<dict>
			<key>image</key>
			<string>help_design_stream.png</string>
			<key>labels</key>
			<array/>
		</dict>
		<key>new_design_help</key>
		<dict>
			<key>image</key>
			<string>help_email_photo.png</string>
			<key>labels</key>
			<array>
				<dict>
					<key>isCentered</key>
					<true/>
					<key>label</key>
					<string>help_take_pic_label1</string>
					<key>x</key>
					<string>175</string>
					<key>y</key>
					<string>435</string>
					<key>max_width</key>
					<integer>200</integer>
					<key>rows</key>
					<integer>3</integer>
					<key>fontSize</key>
					<integer>14</integer>
					<key>fontColor</key>
					<string>0</string>
				</dict>
				<dict>
					<key>isCentered</key>
					<true/>
					<key>label</key>
					<string>help_take_pic_label2</string>
					<key>x</key>
					<string>410</string>
					<key>y</key>
					<string>435</string>
					<key>max_width</key>
					<integer>200</integer>
					<key>rows</key>
					<integer>3</integer>
					<key>fontSize</key>
					<integer>14</integer>
					<key>fontColor</key>
					<string>0</string>
				</dict>
				<dict>
					<key>isCentered</key>
					<true/>
					<key>label</key>
					<string>help_take_pic_label3</string>
					<key>x</key>
					<string>670</string>
					<key>y</key>
					<string>435</string>
					<key>max_width</key>
					<integer>170</integer>
					<key>rows</key>
					<integer>3</integer>
					<key>fontSize</key>
					<integer>14</integer>
					<key>fontColor</key>
					<string>0</string>
				</dict>
			</array>
		</dict>
		<key>remove_tip</key>
		<dict>
			<key>image</key>
			<string>remove_tip.png</string>
			<key>offset</key>
			<dict>
				<key>x</key>
				<integer>140</integer>
				<key>y</key>
				<integer>580</integer>
			</dict>
			<key>labels</key>
			<array>
				<dict>
					<key>label</key>
					<string>help_reomve_tip_label1</string>
					<key>x</key>
					<string>10</string>
					<key>y</key>
					<string>13</string>
					<key>max_width</key>
					<integer>280</integer>
					<key>rows</key>
					<integer>2</integer>
					<key>fontSize</key>
					<integer>13</integer>
					<key>fontColor</key>
					<string>70</string>
					<key>isCentered</key>
					<false/>
				</dict>
			</array>
		</dict>
		<key>paint_line</key>
		<dict>
			<key>image</key>
			<string>help_paint_line.png</string>
			<key>labels</key>
			<array>
				<dict>
					<key>label</key>
					<string>help_paint_line_label1</string>
					<key>x</key>
					<string>35</string>
					<key>y</key>
					<string>36</string>
					<key>max_width</key>
					<integer>185</integer>
					<key>rows</key>
					<integer>4</integer>
					<key>fontSize</key>
					<integer>14</integer>
					<key>fontColor</key>
					<string>70</string>
					<key>isCentered</key>
					<true/>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
