//
//  Generator.xcconfig
//  Manufacturer
//
//  Created by 焦旭 on 2017/9/6.
//  Copyright © 2017年 Easyhome Shejijia. All rights reserved.
//

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) SHEJIJIA_HOST='$(SHEJIJIA_HOST)' M_SHEJIJIA_HOST='$(M_SHEJIJIA_HOST)' BBS_URL='$(BBS_URL)' APP_CONFIG_URL='$(APP_CONFIG_URL)' APP_TYPE='$(APP_TYPE)' ENV_FLAG='$(ENV_FLAG)' AMAP_KEY='$(AMAP_KEY)' WEIBO_KEY='$(WEIBO_KEY)' WEIBO_REDIRECT_URI='$(WEIBO_REDIRECT_URI)' UPAPAY_SCHEME='$(UPAPAY_SCHEME)' WX_APP_KEY='$(WX_APP_KEY)' UMENG_APP_KEY='$(UMENG_APP_KEY)' UMEMNG_CHANNEL_ID='$(UMEMNG_CHANNEL_ID)'
