//
//  Production.xcconfig
//  ESProprietor
//
//  Created by 焦旭 on 2017/10/20.
//  Copyright © 2017年 Easyhome Shejijia. All rights reserved.
//

//XCCONFIG_BUNDLE_ID                  = com.shejijia.test.production
XCCONFIG_BUNDLE_ID                  = com.autodesk.home.consumer
SHEJIJIA_HOST                       = @"api.shejijia.com"
M_SHEJIJIA_HOST                     = @"m.shejijia.com"
APP_TYPE                            = @"Shejijia"
// 环境标识
ENV_FLAG                            = @""

///Json
//论坛
BBS_URL                             = @"download.shejijia.com/shejijia-consumer-app/discuz-prod/bbs_url.json"
//App配置文件
APP_CONFIG_URL                      = @"app-config.shejijia.com/prd/consumer_app_config.json"

//===================== 第三方 =====================//
/// 高德
AMAP_KEY                            = @"2a9b49d56f42ce615f142232037e5973"
/// 微博
WEIBO_KEY                           = @"3945678701"
WEIBO_REDIRECT_URI                  = @"www.sina.com"
/// 银联
UPAPAY_SCHEME                       = @"upapay82c5a1b3c7a6eedd"
/// 微信
WX_APP_KEY                          = @"wx263a5376163cf920"
/// 友盟
UMENG_APP_KEY                       = @"5a73dd798f4a9d0c46000083"
UMEMNG_CHANNEL_ID                   = @"P_dev_environment"
#include "../Generator.xcconfig"
