<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>零居</string>
	<string>一居一卫</string>
	<string>二居一卫</string>
	<string>二居二卫</string>
	<string>三居一卫</string>
	<string>三居二卫</string>
	<string>四居二卫</string>
</array>
</plist>
