<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppHelpArticleUrl</key>
	<string>https://hsm-prod-assets.s3.amazonaws.com/Tenants/Homestyler</string>
	<key>MarketPlaceUrl</key>
	<string></string>
	<key>HockeyAppIdDev</key>
	<string>510fc6c266fc4086af580f527a2c1dcf</string>
	<key>HockeyAppIdProd</key>
	<string>b6c62911cef341f99d864315dcb47cc0</string>
	<key>AppName</key>
	<string>Homestyler</string>
	<key>AppID</key>
	<string>1242774593</string>
	<key>WelcomeSentenceIPhone</key>
	<string>DESIGNYOURDREAMHOMEIN3D</string>
	<key>WelcomeSentenceIPad</key>
	<string>DESIGNYOURDREAMHOMEIN3D</string>
	<key>Login</key>
	<dict>
		<key>ForgotPassword</key>
		<false/>
		<key>EmailLogin</key>
		<false/>
		<key>FacebookLogin</key>
		<false/>
	</dict>
	<key>Debug</key>
	<dict>
		<key>DesignManagerLog</key>
		<false/>
		<key>PackageManagerLog</key>
		<false/>
		<key>FileDownloadManagerLog</key>
		<false/>
	</dict>
	<key>apiProduction</key>
	<dict>
		<key>getConfig</key>
		<string>https://hsmweb.homestyler.com/hsmweb/api/app/GetConfigControl?appType=ios&amp;env=prod&amp;buildVersion=</string>
		<key>getVersion</key>
		<string>https://hsmweb.homestyler.com/hsmweb/api/app/versionControl?type=1&amp;env=prod&amp;buildVersion=</string>
	</dict>
	<key>TenantID</key>
	<string>ezhome</string>
	<key>apiUAT</key>
	<dict>
		<key>getConfig</key>
		<string>https://uat-hsmweb.homestyler.com/hsmweb/api/app/GetConfigControl?appType=ios&amp;env=uat&amp;buildVersion=</string>
		<key>getVersion</key>
		<string>https://uat-hsmweb.homestyler.com/hsmweb/api/app/versionControl?type=1&amp;env=uat&amp;buildVersion=</string>
	</dict>
	<key>RedirectorIdentifier</key>
	<string>homestyler</string>
	<key>WeChatAPPId</key>
	<string>wx9070cc754962308e</string>
	<key>UMengAPPId</key>
	<string>590c4784bbea83287b001090</string>
	<key>ToolFeatures</key>
	<dict>
		<key>ShowGrid</key>
		<false/>
		<key>ProductSnappingToWalls</key>
		<true/>
	</dict>
	<key>Features</key>
	<dict>
		<key>LocationBasedTenant</key>
		<false/>
		<key>ShowCompaniesPaint</key>
		<true/>
		<key>StopOnWall</key>
		<false/>
		<key>LevitateButton</key>
		<false/>
		<key>ReDirectToMarketPlace</key>
		<false/>
		<key>ShowConcealerHelp</key>
		<true/>
		<key>NewCategory</key>
		<false/>
		<key>DesignLayers</key>
		<false/>
		<key>ProductInfoLeftRight</key>
		<true/>
		<key>CatalogIcons</key>
		<true/>
		<key>Families</key>
		<true/>
		<key>SignInWebView</key>
		<false/>
		<key>SignInSSO</key>
		<true/>
		<key>Hotspots</key>
		<false/>
		<key>Collections</key>
		<false/>
		<key>SwapableVariation</key>
		<true/>
		<key>WishList</key>
		<false/>
		<key>OfflineMode</key>
		<false/>
		<key>FindFriends</key>
		<false/>
		<key>PortraitCamera</key>
		<false/>
		<key>WLMagazine</key>
		<false/>
		<key>Facebook</key>
		<false/>
		<key>NewsLetter</key>
		<false/>
		<key>AddYourBrand</key>
		<false/>
		<key>2DGallery</key>
		<false/>
		<key>3DGallery</key>
		<false/>
		<key>ProffesionalIndex</key>
		<false/>
		<key>Magazine</key>
		<false/>
		<key>Segment</key>
		<false/>
		<key>PushNotification</key>
		<false/>
		<key>WeChat</key>
		<true/>
		<key>ChineseOnly</key>
		<true/>
		<key>SetPassWord</key>
		<true/>
		<key>MoreInfoDisplay</key>
		<false/>
	</dict>
</dict>
</plist>
